:root {
  --content-width: 600px;
}

body {
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.frontTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 600;
}

button {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding: 10px 16px;
  margin: 5px;
}

#input-color {
  border: none;
  height: 25px;
  width: 25px;
  padding: 5px;
}

/* Containers */
.container {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
}

.containerWrapper {
  margin: 15px auto;
  height: 75vw;
  width: 75vw;
  max-height: var(--content-width);
  max-width: var(--content-width);
  position: relative;
  border: 10px solid gray;
}

.containerWrapper::before {
  content: "";
  position: absolute;
  background-color: white;
  top: -15px;
  bottom: -15px;
  right: -15px;
  left: -15px;
  z-index: -1;
  background: linear-gradient(45deg, #aaa, 0 50%, #75757b 50% 100%);
}

.containerWrapper::after {
  content: "";
  position: absolute;
  background-color: white;
  top: -15px;
  bottom: -15px;
  right: -15px;
  left: -15px;
  z-index: -2;
}

/* pixels */
.container>* {
  height: 100%;
  background-color: white;
  transition: all 0.5s;
}

/* sections under the pixel container */
.gridOptions {
  max-width: var(--content-width);
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.gridOptions>* {
  flex: 1 1 auto;
}

.sizeContainer {
  width: 55vw;
  padding-left: 10px;
  margin-right: 5px;
}

.sizeContainer p {
  text-align: center;
  margin: 7px 0;
}

.slider {
  width: 100%;
  height: 15px;
  transition: 0.2s;
  border-radius: 5px;
}